<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
            <div class="top-header-container">
                <div class="logo"><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"></div>

                <div class="search-bar">
                    <form action="#" method="get">
                        <input type="text" name="text" placeholder="Buscar productos">
                    </form>
                    <button class="magnifying-glass">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
                <h4><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h4>
            </div>
        <nav class="header-nav">
            <div class="ul-head">
                <ul>
                    <li><a href="home.html">Ofertas</a></li>
                    <li><a href="officialStores.html">Tiendas Oficiales</a></li>
                    <li><a href="sells.html">Vender</a></li>
                    <li><a href="help.html">Ayuda</a></li>
                </ul>
            </div>
            <div class="ul-head">
                <ul>
                    <li><a href="register">Creá tu cuenta</a> <i class="fa-solid fa-id-card"></i></li>
                    <li><a href="login">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="sells.html">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
            </div>
        </nav>
        <div class="burguer-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>

    <main>
        <h2>Basado en tu última visita</h2>
        <section class="sección01">
            <article class="article01">
                <div class="imgProduct"><img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera"></div>
                <div class="shipping-truck">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="descriptionProduct">
                    <div class="price"><h6>$6.770</h6></div> 
                    <div class="discount"><h5>40% OFF</h5></div> 
                </div>
                <div>
                    <h5 class="display-none">Cafetera Moulinex</h5>
                </div>
            </article>
            <article class="article02">
                <div class="imgProduct"><img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook"></div>
                <div class="shipping-truck">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="descriptionProduct">
                    <div class="price"><h6>$230.000</h6></div> 
                    <div class="discount"><h5>20% off</h5></div> 
                </div>
                <div>
                    <h5 class="display-none">MacBook Pro 2019</h5>
                </div>
            </article>
            <article class="article03">
                <div class="imgProduct"><img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy"></div>
                <div class="shipping-truck">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="descriptionProduct">
                    <div class="price"><h6>$70.500</h6></div> 
                    <div class="discount"><h5>10% off</h5></div> 
                </div>
                <div>
                    <h5 class="display-none">Samsung Galaxy S10</h5>
                </div>
            </article>
            <article class="article04">
                <div class="imgProduct"><img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv"></div>
                <div class="shipping-truck">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="descriptionProduct">
                    <div class="price"><h6>$23.200</h6></div> 
                    <div class="discount"><h6>5% off</h6></div> 
                </div>
                <div>
                    <h5 class="display-none">SmartTv Samsung 43"</h5>
                </div>
            </article>
        </section>

        <h2>Sección de Ofertas</h2>
        <section class="seccion02">
            <article class="article01">
                <div class="imgProduct"><img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera"></div>
                <div class="shipping-truck">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="descriptionProduct">
                    <div class="price"><h6>$6.770</h6></div> 
                    <div class="discount"><h5>40% OFF</h5></div> 
                </div>
                <div>
                    <h5 class="display-none">Cafetera Moulinex</h5>
                </div>
            </article>
            <article class="article02">
                <div class="imgProduct"><img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook"></div>
                <div class="shipping-truck">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="descriptionProduct">
                    <div class="price"><h6>$230.000</h6></div>
                    <div class="discount"><h5>20% off</h5></div>
                </div>
                <div>
                    <h5 class="display-none">MacBook Pro 2019</h5>
                </div>
            </article>
            <article class="article03">
                <div class="imgProduct"><img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy"></div>
                <div class="shipping-truck">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="descriptionProduct">
                    <div class="price"><h6>$70.500</h6></div>
                    <div class="discount"><h5>10% off</h5></div>
                </div>
                <div>
                    <h5 class="display-none">Samsung Galaxy S10</h5>
                </div>
            </article>
            <article class="article04">
                <div class="imgProduct"><img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv"></div>
                <div class="shipping-truck">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="descriptionProduct">
                    <div class="price"><h6>$23.200</h6></div>
                    <div class="discount"><h5>5% off</h5></div>
                </div>
                <div>
                    <h5 class="display-none">SmartTv Samsung 43"</h5>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <nav>
            <ul>
                
                <li>
                    <div class="iconos-footer"><i class="fa-solid fa-credit-card"></i></div>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>
                        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                    </p>
                </li>
                
                <li>
                    <div class="iconos-footer"><i class="fa-solid fa-gift"></i></div>
                    <h4>Envío gratis desde $ 2.500</h4>
                    <p>
                        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                    </p>
                </li>
                
                <li>
                    <div class="iconos-footer"><i class="fa-solid fa-user-shield"></i></div>
                    <h4>Seguridad, de principio a fin</h4>
                    <p>
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
                    </p>
                </li>
                <li>
                    <div class="copyright"><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></div>
                </li>
            </ul>
        </nav>
    </footer>
    
</body>
</html>