<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"></div>

        <div>Caja para la barra de tareas</div>

        <h4>Comprá en cuotas y sin tarjeta de crédito</h4>
        
        <nav>
            <ul>
                <li><a href="home.html">Ofertas</a></li>
                <li><a href="officialStores.html">Tiendas Oficiales</a></li>
                <li><a href="sells.html">Vender</a></li>
                <li><a href="help.html">Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="logIn.html">Creá tu cuenta</a></li>
                <li><a href="signIn.html">Ingresá</a></li>
                <li><a href="sells.html">Mis compras</a></li>
            </ul>

        </nav>

    </header>

    <main>
        <section class="Sección 1">
            <h2>Basado en tu última visita</h2>
            <article>
                <div><img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera"></div>
                <h5>$6.770</h5>
                <h5>40% OFF</h5>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <div><img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook"></div>
                <h5>$230.000</h5>
                <h5>20% off</h5>
                <h4>MacBook Pro 2019</h4>
            </article>
            <article>
                <div><img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy"></div>
                <h5>$70.500</h5>
                <h5>10% off</h5>
                <h4>Samsung Galaxy S10</h4>
            </article>
            <article>
                <div><img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv"></div>
                <h5>$23.200</h5>
                <h5>5% off</h5>
                <h4>SmartTv Samsung 43"</h4>
            </article>
        </section>

        <section class="Seccion 2">
            <h2>Sección de Ofertas</h2>
            <article>
                <div><img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera"></div>
                <h5>$6.770</h5>
                <h5>40% OFF</h5>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <div><img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook"></div>
                <h5>$230.000</h5>
                <h5>20% off</h5>
                <h4>MacBook Pro 2019</h4>
            </article>
            <article>
                <div><img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy"></div>
                <h5>$70.500</h5>
                <h5>10% off</h5>
                <h4>Samsung Galaxy S10</h4>
            </article>
            <article>
                <div><img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv"></div>
                <h5>$23.200</h5>
                <h5>5% off</h5>
                <h4>SmartTv Samsung 43"</h4>
            </article>
        </section>
    </main>

    <footer>
        <nav>
            <ul>
                <li>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>
                        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                    </p>
                </li>
                <li>
                    <h4>Envío gratis desde $ 2.500</h4>
                    <p>
                        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                    </p>
                </li>
                <li>
                    <h4>Seguridad, de principio a fin</h4>
                    <p>
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
                    </p>
                </li>
                <li>
                    <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
                </li>
            </ul>
        </nav>
    </footer>
    
</body>
</html>